<div class="modal fade {{ include.class }}" id="{{ include.modal_id }}" tabindex="-1" aria-labelledby="{{ include.label_id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ include.label_id }}">{{ include.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="" id="{{ include.image_id }}">
            </div>
        </div>
    </div>
</div>
