<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "MusicGroup",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}/",
    "logo": "{{ site.url }}{{ site.logo }}",
    "image": "{{ site.url }}{{ page.image | default: site.default_image }}",
    "foundingDate": "1999",
    "email": "{{ site.email }}",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ site.address.street }}",
        "postalCode": "{{ site.address.postal_code }}",
        "addressLocality": "{{ site.address.locality }}",
        "addressRegion": "{{ site.address.region }}",
        "addressCountry": "{{ site.address.country }}"
    },
    "sameAs": [
        "{{ site.social.instagram }}",
        "{{ site.social.facebook }}",
        "{{ site.social.youtube }}"
    ]
}
</script>
